<div class="col-md-6 col-sm-12 p-3 border rounded mx-auto">
    <h2 class="text-primary">forgot password</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="submit()">
        <label>email</label>
        <input type="email" class="form-control" formControlName="email">
        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
            <span class="error" *ngIf="fc.email.errors.required">Email is Required</span>
            <span class="error" *ngIf="fc.email.errors.email">Please enter right mail format</span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Send Email</button>
        <br>
    </form>
</div>